@{
    ViewData["Title"] = "Mateo Pillajo - C#";
}

<div class="text-center">
    <h1 class="display-4">Welcome, this page is deployed on Railway</h1>
    <p>By: Mateo Pillajo :D</p>
    <p>Made With ADO.NET 6</p>
</div>
